@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-family: "Helvetica", sans-serif, Arial;
	color: #cccccc;
}
.Screen_size {
	max-width: 58.75rem;
	margin: 0 auto;	
}

		
/*===================================
========== Header =================*/

header {
	border-top: 7px solid #ebebeb;
}	
.Logo_nav {
	padding-top: 2.5rem;
	display: flex;
	justify-content: space-between;
}
.Logo_nav h1 {
	font-family: "Pacifico", cursive, sans-serif;
	font-size: 2rem;
	color: #474747; 
	margin-left: 0.4rem; 
}
.Logo_nav ul {
	display: flex;
	list-style: none; 
}
.Logo_nav ul li {
	font-family: "Bebas Neue", sans-serif, Arial;
	font-size: 1.5rem;
	text-transform: uppercase;
	margin-right: 3.2rem;
}
.Logo_nav ul li:last-child {
	margin: 0; 
}		
.Logo_nav ul li em {
	font-family: "Bebas Neue", sans-serif, Arial;
	font-size: 2rem;
	text-transform: uppercase;
	color: #474747;
	display: block;
}

/*===================================
========= Section Wall ============*/

.Wallpaper {
	margin-top: 3.125rem;
	margin-bottom: 3rem;
	position: relative;
}	
.Wallpaper img {
	width: 100%;
	height: 26.25rem;
	display: block;
}	
.Wallpaper .Featured_Box {
	background: #404040;
	width: 25%;
	position: absolute; bottom: 8.25em;
	padding: 0.5rem 1.5rem 0 1.8rem;

}
.Wallpaper .Featured_Box h2 {
	font-family: "Bebas Neue", sans-serif, Arial;
	font-size: 1.7rem;
	color: #9e9e9e;
}
.Wallpaper .Featured_Box h1 {
	font-family: "Bebas Neue", sans-serif, Arial;
	font-size: 2.2rem;
	color: #ffffff;
}
.Wallpaper .Content {
	background: #f4f4f4;
	padding: 1rem;
}
.Wallpaper .Content h2 {
	font-family: "Bebas Neue", sans-serif, Arial;
	font-size: 1.5rem;
	color: #474747;
}	
.Wallpaper .Content p {
	color: #9a9a9a;
	font-size: 1.1rem;
	text-align: justify;
	margin: 0.9rem 1.5rem 0.9rem 0;
}

/*===========================================
============= Articles ====================*/

.About {
	margin-top: 3.75rem;
	display: flex;
}
.About .About_articles {
	padding: 2rem;
	
}
.About .About_articles img{
	width: 2.5rem;
	height: 2.5rem; 
	float: left;
}
.About .About_articles h1{
	font-family: "Bebas Neue", sans-serif, Arial;
	font-size: 1.8rem;
	text-transform: uppercase;
	color: #474747;
	margin: 1rem;	
	text-align: center;
}
.About .About_articles p{
	color: #9a9a9a;
	text-align: justify;
	margin-top: 2rem;
	margin-bottom: 1rem;
}
.About .About_articles h2{
	font-family: "Bebas Neue", sans-serif, Arial;
	text-transform: uppercase;
	white-space: pre;
	color: #474747;
}

/*============================================
=============== Articles Port ==============*/

.Portfolio {
	margin-top: 4.375rem;
}
.Portfolio .My_Latest_Work {
	display: flex;
	justify-content: space-between;

}
.Portfolio .My_Latest_Work .black_box{
	background: black;
	height: 1.75rem;
	width: 24rem;
}
.Portfolio .My_Latest_Work h1 {
	font-family: "Bebas Neue", sans-serif, Arial;
	font-size: 1.5rem;
	text-transform: uppercase;
	color: #474747;
}
.Portfolio .Portfolio_container {
	display: flex;
	margin-top: 3.4rem;
}	
.Portfolio .About_articles{
	padding: 0.6rem;
}
.Portfolio .About_articles img {
	height: 7.5rem;
	width: 13.75rem;
}
.Portfolio .About_articles h3 {
	font-family: "Bebas Neue", sans-serif, Arial;
	font-size: 1.3rem;
	text-transform: uppercase;
	color: #474747;
	margin-top: 1rem;
}
.Portfolio .About_articles p {
	color: #9a9a9a;
	text-align: justify;
	margin-top: 2rem;
	margin-bottom: 1rem;
}
.Portfolio .About_articles h4 {
	font-family: "Bebas Neue", sans-serif, Arial;
	text-transform: uppercase;
	white-space: pre;
	color: #474747;
	margin-bottom: 4rem;
}

/*============================================
============ Footer ========================*/

footer::before {
	content: "";
	height: 0.5rem;
	display: block;
	background-image: url(../images/pattern.png);
}
footer {
	position: relative; bottom: 0;
	height: 4.375rem;
	width: 100%;
	background: #f4f4f4;
}
.Copyright {
	display: flex;
	justify-content: space-between;
	padding-top: 1.56rem;
}
.Copyright p {
	color: #9a9a9a;
}
.Copyright p:first-child {
	
}		
.Copyright em {
	color: #6f6f6f;
}


/*====================================
========= Media Querry =============*/

@media (max-width: 960px) {
	* {
		font-size: 14px;
	}
}		
@media (max-width: 840px) {
	* {
		font-size: 12px;
	}
}
@media (max-width: 740px) {
	* {
		font-size: 10px;
	}
}
@media (max-width: 640px) {
	* {
		font-size: 8px;
	}
}		
@media (max-width: 540px) {
	* {
		font-size: 6px;
	}
}
@media (max-width: 360px) {
	* {
		font-size: 5px;
	}
}	
@media (max-width: 280px) {
	* {
		font-size: 4px;
	}
}
@media (max-width: 240px) {
	* {
		font-size: 3px;
	}
}				
	
